<!DOCTYPE html>
<html>
<head>
    <title>Müşteri Yönetim Sayfası</title>
   
   
</head>
<body>
    <div>
        <main role="main" class="container">
            @RenderBody()
        </main>
    </div>
    
</body>
</html>
